body{
    background-color: brown;
    display: flex;
    justify-content: center;

}

.pic{
    height: 500px;
    width: 600px;
}

.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.para1{
    display: flex;
    
}